#X {
    width: 60px;
    height: 60px;
}
#O {
    width: 60px;
    height: 60px;
}
.ui-widget-header {
    width: 60px;
    height: 60px;
    float: left;

}
p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-state-highlight{
    color: blueviolet;
}